<div class="text-start d-flex align-items-center" style="margin-left: {{ms}}px;">
  <a href="{{obj.id}}/change" class="symbol symbol-50px"
    ><span
      class="symbol-label"
      style="background-image: url(
        {% if obj.thumbnail %}
            {{obj.thumbnail.url}}
        {% else %}
            /media/default.png
        {% endif %}
        )"
    ></span
  ></a>
  
  <div class="ms-5">
    <a
      href="{{obj.id}}/change"
      class="text-gray-800 text-hover-primary mb-1"
      >{{obj|truncatechars:70}}</a
    >
    {% if obj.description %}
    <div class="text-muted fs-7 fw-bold">{{obj.description}}</div>
    {% endif %}
   
  </div>
</div>

