.payment-section {
  position: relative;
  background: #ebeff6;
  min-height: 100vh;
}
.payment-section a {
  color: #4b5da9;
}
.payment-section a:hover {
  color: #ffca05;
}
.payment-section * {
  position: relative;
  z-index: 3;
}
.payment-section h1 {
  margin-bottom: 50px;
}
.payment-section h3 {
  margin-bottom: 20px;
}
.payment-logo img {
  height: 50px;
}
.payment-first {
  border-bottom: 1px solid #d1d7dc;
}
.payment-first p {
  color: #646464;
}
.payment-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.payment-body {
  padding: 50px 0;
  max-width: 1000px;
  margin: auto;
}
.payment-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.payment-info {
  width: 100%;
  max-width: 350px;
}
.payment-info label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "avenirblack";
  font-size: 16px;
}
.payment-info label span {
  font-family: "avenirbook";
}
.payment-select {
  position: relative;
  font-size: 18px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 15px;
}
.payment-select select {
  padding-left: 45px;
  padding-right: 40px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}
.payment-select select:hover {
  background-color: #f2f2f2;
}
.payment-select-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 22px;
}
.payment-select-icon-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.payment-sumary {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px 20px;
  border-radius: 10px;
  color: #646464;
}
.payment-sumary h3 {
  color: #4b5da9;
}
.payment-sumary .package-item {
  background-color: rgba(125, 166, 215, 0.2);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 30px;
  color: #4b5da9;
}
.payment-sumary .package-item._tip-box {
  border: 4px solid #4b5da9;
  background-color: rgba(125, 166, 215, 0.2);
}
.payment-sumary .package-item b {
  font-family: "avenirblack";
}
.payment-sumary .package-item h4 {
  margin-bottom: 0;
  color: #4b5da9;
}
.payment-sumary .package-item p {
  margin-bottom: 10px;
}
.payment-sumary .package-item .content-package {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.payment-sumary .package-item .content-package p:last-child {
  margin-bottom: 0;
}
.payment-sumary .package-item .content-package .btn-group {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.payment-sumary .package-item .content-package .btn-group .btn--link {
  margin-bottom: 10px;
}
.payment-sumary .package-item .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #4b5da3;
  align-items: flex-end;
}
.payment-sumary .package-item .title .content p {
  margin-bottom: 0;
}
.payment-sumary .package-item .title .price {
  margin-left: 10px;
  font-family: "avenirblack";
  color: #4b5eaa;
  font-size: 28px;
}
.payment-sumary .package-item .btn-cos {
  margin-top: 10px;
}

.box-radio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d1d7dc;
  border-radius: 10px;
  overflow: hidden;
}
.box-radio .check-info {
  padding: 15px;
  display: none;
}
.box-radio .check-info label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "avenirblack";
  font-size: 16px;
}
.box-radio .check-info label span {
  font-family: "avenirbook";
  font-size: 14px;
  font-weight: 400;
}
.box-radio .check-info input, .box-radio .check-info select {
  padding: 0 20px;
  height: 50px;
  border: 1px solid #676767;
  border-radius: 30px;
  width: 100%;
  line-height: 50px;
  margin-bottom: 15px;
}
.box-radio .check-info p {
  color: #646464;
}
@media (max-width: 767.82px) {
  .box-radio .checkbox {
    flex: 0 0 100%;
  }
}
.box-radio .checkbox .checkbox__in {
  align-items: center;
}
@media screen and (max-width: 575.82px) {
  .box-radio .checkbox .checkbox__in {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .box-radio .checkbox .checkbox__in .checkbox__icon {
    margin-top: 15px;
  }
}
.box-radio .checkbox {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #d1d7dc;
  border-top: 1px solid #d1d7dc;
}
.box-radio .left-check {
  display: flex;
  align-items: center;
}
.box-radio .checkbox__icon {
  display: flex;
}
.box-radio .checkbox__icon img {
  width: 50px;
  height: 30px;
  border: 1px solid #d1d7dc;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 4px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.box-radio .checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.box-radio .checkbox__in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.box-radio .checkbox__img img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 30px;
  border: 1px solid #d1d7dc;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 4px 0 0;
}
.box-radio .checkbox__tick {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: 2px solid #4b5da9;
  transition: all 0.25s;
}
.box-radio .checkbox__text {
  font-size: 16px;
  color: #6b6b6b;
  transition: color 0.2s;
}
@media only screen and (max-width: 1259px) {
  .box-radio .checkbox__text {
    padding-top: 4px;
    font-size: 16px;
  }
}
.box-radio .checkbox:hover .checkbox__tick {
  background: #7da6d7;
}
.box-radio .checkbox__input:checked + .checkbox__in {
  background-color: #f2f2f2;
}
.box-radio .checkbox__input:checked + .checkbox__in .checkbox__tick {
  background: #7da6d7;
}
.box-radio .checkbox__input:checked + .checkbox__in .checkbox__tick:before {
  opacity: 1;
}/*# sourceMappingURL=payment.css.map */