{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="nav-link addlink btn btn-primary btn-sm"><span class="svg-icon svg-icon-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
          <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
        </svg>
      </span>
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  {% endif %}
{% endblock %}
