{% extends "layout/default.html" %}

{% load static i18n %}
{% load frontend_extras widget_tweaks %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="title">
            <h2>{{object.title}}</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="sticky-md-top">
            <div class="menu-courses">
                <div class="box-link-c mb-3">
                    {% for item in object.get_questions %}
                        <a href="{% url 'dashboards:lessonitem-detail' object.lesson.section.course.pk object.pk %}?page={{ forloop.counter }}" class="summary-item {% if page_obj.number == forloop.counter %}active{% endif %}">
                            <div class="content">
                                <div class="icon">
                                    <img src="{% get_static_prefix %}dashboard/assets/images/icon-courses/2.svg" alt="">
                                </div>
                                <div class="me-2"></div>
                                <div class="desc">
                                    {{item.question.title|truncatechars:50}}
                                </div>
                            </div>
                        </a>
                    {% empty %}
                    empty
                    {% endfor %}

                </div>
                <div class="d-flex mb-3">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn--link _yellow w-100"><i class="icofont-long-arrow-left"></i> Previous</a>
                    {% else %}
                        <button class="btn btn--link _yellow w-100"><i class="icofont-long-arrow-left"></i> Previous</button>
                    {% endif %}
                    <div class="me-2"></div>

                    {% if page_obj.has_next %}
                        <a class="btn btn--link _yellow w-100" href="?page={{ page_obj.next_page_number }}">Next <i class="icofont-long-arrow-right"></i></a>
                    {% else %}
                        <button class="btn btn--link _yellow w-100" disabled="disabled">Next <i class="icofont-long-arrow-right"></i></button>
                    {% endif %}
                </div>
                <div class="">
                    {% with object.lesson.section.course as obj %}
                    <a href="{% url 'dashboards:course-detail' object.lesson.section.course.pk %}" class="btn btn--link _yellow w-100"><i class="icofont-long-arrow-left"></i> Back to course</a>
                    {% endwith %}
                </div>
              
                
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="col-md-12 sticky-top">
            <div class="sidebar-widget-wrapper pr-0">
                <div class="sidebar-widget">
                    <div class="sidebar-widget-content">
                        <div class="sidebar-entry-course-info p-0">
                            <div class="learn-wrapper">
                                <div class="chapter-course __2">
                                    <div class="list-menu-quiz">
                                        <div class="question-list-nav">
                                            {% if page_obj.has_previous %}
                                                <a class="nav-btn" href="?page={{ page_obj.previous_page_number }}"><i class="far fa-chevron-double-left"></i></a>
                                            {% endif %}

                                            <div class="content-question">
                                                Question {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                            </div>

                                            {% if page_obj.has_next %}
                                                <a class="nav-btn" href="?page={{ page_obj.next_page_number }}"><i class="far fa-chevron-double-right"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="learn-wrapper">
            <div class="chapter-course">
                {% if results.next_page and page_obj.has_next %}
                    <form action="{% url 'dashboards:lessonitem-detail' object.lesson.section.course.pk object.pk %}?page={{ page_obj.next_page_number }}" method="post">
                {% else %}
                    <form action="{% url 'dashboards:lessonitem-detail' object.lesson.section.course.pk object.pk %}?page={{ page_obj.number }}" method="post">
                {% endif %}
                    {% csrf_token %}
                    {% for item in page_obj %}
                    <ul class="chapter-sections quest-list quest-box active" id="quest-{{forloop.counter}}">
                        <li class="single-chapter-section">
                            <div class="section-header">
                                <div class="section-left">
                                    <h5 class="sub-title">{{item.question.title|safe}}</h5>
                                    {{item.question.content|safe}}
                                </div>
                            </div>
                            <ul class="section-content">
                                {% for answer in item.question.answers %}
                                    <li class="course-item">
                                        <div class="section-item-link __radio">
                                            <input type="radio" name="answer" id="answer-{{ forloop.counter }}" value="{{answer.pk}}" {% if request.POST.answer|slugify == answer.pk|slugify %}checked{% endif %} required>
                                            <div class="me-2"></div>
                                            {% if answer.content %}
                                            <label for="answer-{{ forloop.counter }}">{{answer.content|safe}}</label>
                                            {% else %}
                                            <label for="answer-{{ forloop.counter }}">{{answer.title}}</label>
                                            {% endif %}
                                            
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="single-chapter-section btn-bottom">
                            <div class="btn-group">
                                {% if request.POST and not results.next_page %}
                                    <button type="submit" class="btn--link _yellow">{% translate "Try again" %}</button>
                                {% elif results.next_page and page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="btn--link _yellow">{% translate "Next Question" %}</a>
                                {% elif results.show_summary %}
                                <a href="{% url 'dashboards:practice-results' object.slug %}" class="btn--link _yellow">{% translate "Show Summary" %}</a>
                                {% else %}
                                    <button type="submit" class="btn--link _yellow">{% translate "Check" %}</button>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}