<div class="form-check form-check-custom">
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
    
    {% for name, value in widget.attrs.items %}
    {% if value is not False %} 
        {% if name == 'class' %}
            {{ name }}
            {% if value is not True %}="{{ value|stringformat:'s' }} form-check-input"{% endif %}
        {% else %}
            {{ name }}
            {% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
class="form-check-input"
/>
</div>