{% load static %}
<div class="w-100" id="dashboardSearchHeader">
    <div class="input-group flex-nowrap input-group-lg input-menu-group">
        <input type="search" class="form-control" placeholder="Search" aria-label="search"
               aria-describedby="addon-wrapping" name="q" autocomplete="off">
        <span class="input-group-text" id="addon-wrapping"><img
                src="{% get_static_prefix %}dashboard/assets/images/icon-menu-new/10.svg" alt=""></span>
    </div>

    <div class="position-absolute py-2" style="max-width: 70%">
        <div class="list-group w-100px" style="display: none">
        </div>
    </div>
</div>




