{% load static i18n dashboard %}
{% for part in parts %}
    <li class="single-chapter-section">
        <div class="section-header">
            <div class="section-left">
                <div class="d-flex justify-content-between">
                    <h5 class="title">Part {{part.title}}: </h5>
                    {% comment %} {% get_partresult_by_part part.pk %} {% endcomment %}
                </div>

                <p class="section-desc">1 of {{ part_result.part.get_questions.count }} questions are answered correctly</p>
                <div class="progress w-100 mb-0">
                    <div class="progress-fill" style="width: 0%;"></div>
                    <span class="progress-text">0%</span>
                </div>
            </div>
        </div>
    </li>
{#    {% get_question_by_partresult part.pk %}#}
{% endfor %}