{% load i18n dashboard %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{% translate "ID" %}</th>
            <th scope="col">{% translate "Status" %}</th>
            <th scope="col">{% translate "Time" %}</th>
            <th scope="col">{% translate "Price" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction.id}}</td>
                <td><span class="badge bg-secondary">{{transaction.status}}</span></td>
                <td>{{transaction.time}}</td>
                <td>{{transaction.amount_with_breakdown.gross_amount.value}} {{transaction.amount_with_breakdown.gross_amount.currency_code}}</td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>