<form class="row g-1 p-0">
    {% csrf_token %}
    <div class="col-6">
        <div class="mb-2">
            <label class="form-label">Full name</label>
            <input type="email" class="form-control form-control-lg" placeholder="John" value="Sarah">
        </div>
    </div>
    <div class="col-6">
        <div class="mb-2">
            <label class="form-label">&nbsp;</label>
            <input type="email" class="form-control form-control-lg" placeholder="Parker" value="Millar">
        </div>
    </div>
    <div class="col-12">
        <div class="mb-2">
            <label class="form-label">Date of birth</label>
            <input type="date" class="form-control form-control-lg" placeholder="" value="2000-08-18">
        </div>
    </div>
    <div class="col-12">
        <div class="mb-2">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control form-control-lg" placeholder="name@example.com" value="sarah@gmail.com">
        </div>
    </div>
</form>