{% extends 'layout/master.html' %}
{% load static i18n frontend_extras dashboard %}

{% block layout %}
<style>
    .bg-cosqool-2 {
        background-color: #ebeff6;
    }
    .bg-cosqool-2 .body {
        z-index: 0;
    }
</style>

<div id="elearn-layout" class="theme-purple">
    {% sidebar %}
    

    <!-- main body area -->
    <div class="main bg-cosqool-2">

        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4 px-lg-4 px-md-4">
                <div class="container-xxl">
    
                    <!-- header rightbar icon -->
                    <div class="dropdown d-flex justify-content-start align-items-center">
                        <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                            <img class="avatar lg rounded-circle img-thumbnail" src="{{user.student.avatar.image|user_img_url}}">
                        </a>
                        <div class="me-2"></div>
                        <style>
                            .u-info {
                                margin-left: 0px !important;
                            }
                        </style>
                        <div class="u-info">
                            <p class="m-0 line-height-sm "><span class="font-weight-bold">{{user.student.get_full_name}}</span></p>
                            <small>{% translate "Student Profile" %}</small>
                        </div>
                        <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-start p-0 m-0">
                            <div class="card border-0 w280">
                                <div class="card-body pb-0">
                                    <div class="d-flex py-1">
                                        <img class="avatar rounded-circle" src="{{user.student.avatar.image|user_img_url}}">
                                        <div class="flex-fill ms-3">
                                            <p class="mb-0"><span class="font-weight-bold">{{user.student.get_full_name}}</span></p>
                                            <small class="">{{user.email}}</small>
                                        </div>
                                    </div>
                                    <div><hr class="dropdown-divider border-dark"></div>
                                </div>
                                <div class="list-group m-2 ">
                                    <a href="{% url 'dashboards:profile' %}" class="list-group-item list-group-item-action border-0 ">
                                        <i class="icon-a me-3">
                                            <img class="icon-menu" src="{% get_static_prefix %}dashboard/assets/images/icon-menu-new/1.svg" alt="">
                                        </i>
                                        {% translate "My Profile" %}
                                    </a>
                                    {% if request.user.teacher %}
                                        <a href="{% url "instructor:index" %}" class="list-group-item list-group-item-action border-0 ">
                                            <i class="icon-a fs-6 me-3">
                                                <img class="icon-menu" src="{% get_static_prefix %}dashboard/assets/images/icon-menu-new/2.svg" alt="">
                                            </i>
                                            {% translate "Teacher" %}
                                        </a>
                                    {% endif %}
                                    <div><hr class="dropdown-divider border-dark"></div>
                                    <a href="{% url 'dashboards:logout' %}" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Signout</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                        <span class="fa fa-bars"></span>
                    </button>

                    <!-- main menu Search-->
                    <div class="order-0 order-md-1 col-lg-6 col-md-6 col-sm-12 col-12 mb-3 mb-md-0 ">
                        <div class="input-menu-home">
                            {% include './partials/search.html' %}
                            <div class="me-2"></div>
                            <!-- <button type="button" class="input-group-text add-member-top" id="addon-wrappingone" data-bs-toggle="modal" data-bs-target="#addUser"><i class="fa fa-plus"></i></button> -->
                            {%notification%}
                            <div class="me-2"></div>
                            {% load static %}
                            {% load i18n %}
                            {% load parler_tags %}
                              
                            {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
                            {% get_available_languages as LANGUAGES %}
                            <div class="me-2"></div>
                            <div class="menu-language m-0">
                                
                                {% for lang_code, title in LANGUAGES %}
                                    {% get_language_info for lang_code as lang %}
                                    {% get_translated_url lang_code as tr_url %}
                                    {% if lang_code == LANGUAGE_CODE %}
                                        <a class="nav-link"><span class="m-1">{{ lang.name_local|capfirst }}</span></a>
                                    {% endif %}
                                {% endfor %}
                                <ul class="w-100 text-center">
                                    {% for lang_code, title in LANGUAGES %}
                                    {% get_language_info for lang_code as lang %}
                                    {% get_translated_url lang_code as tr_url %}
                                        {% if lang_code == LANGUAGE_CODE %}
                                            
                                        {% else %}
                                            {% if tr_url %}<li><a href="{{ tr_url }}" hreflang="{{ lang_code }}">{{ lang.name_local|capfirst }}</a></li>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>
                    </div>
    
                </div>
            </nav>
        </div>
        <!-- Body: Body -->
        <div class="body d-flex align-items-start blog-section">
            
            <div class="container-xxl">
                {% block message %}
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">{% translate "Notification" %}!</h4>
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer-copyright mt-5">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">{% translate "Terms And Conditions" %}</a></li>
                                <li><a href="#">{% translate "Privacy Policy" %}</a></li>
                                <li><a href="#">{% translate "Cookie Policy" %}</a></li>
                                <li><a href="#">{% translate "Integrity Policy" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock layout %}


{% block modal %}

{% endblock  %}