{% extends "layout/default.html" %}
{% load static i18n dashboard %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h1>{{ object.title }}</h1>
                <p class="desc">{{ object.description }}</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="d-flex flex-column">
                <div class="learn-wrapper text-center">
                    <div class="title-course d-flex justify-content-center">
                        {% with object.get_parts.0 as part %}
                            <div class="box-link-c w-50">
                                <div class="summary-item">
                                    <div class="content">
                                        <div class="desc d-flex flex-row align-items-center">
                                            <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                                 height="25" class="me-1">
                                            {% translate 'Part' %}
                                        </div>
                                    </div>
                                    <div class="number">
                                        {{ part.get_order }}/{{ object.get_parts.count }}
                                    </div>
                                </div>
                                <div class="summary-item">
                                    <div class="content">
                                        <div class="desc d-flex flex-row align-items-center">
                                            <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                                 height="25" class="me-1">
                                            {% translate 'Subject' %}
                                        </div>
                                    </div>
                                    <div class="number">
                                        {{ part.subject|title }}
                                    </div>
                                </div>
                                <div class="summary-item">
                                    <div class="content">
                                        <div class="desc d-flex flex-row align-items-center">
                                            <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                                 height="25" class="me-1">
                                            {% translate 'Questions' %}
                                        </div>
                                    </div>
                                    <div class="number">
                                        {{ object.get_total_questions }}
                                    </div>
                                </div>
                                <div class="summary-item">
                                    <div class="content">
                                        <div class="desc d-flex flex-row align-items-center">
                                            <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                                 height="25" class="me-1">
                                            {% translate 'Duration' %}
                                        </div>
                                    </div>
                                    <div class="number">
                                        <time>{{ object.get_total_duration_parts|duration }}</time>
                                    </div>
                                </div>
                                <div class="summary-item d-flex justify-content-center align-items-center pt-4">
{#                                    <a class="btn--link _yellow" href="{% url 'dashboards:testprep:testprep-part-questions' part.pk %}">Start exam</a>#}
                                    <form action="{% url 'dashboards:testprep:testprep-detail' object.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="btn--link _yellow" value="{% translate "Start Exam" %}">
                                    </form>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                </div>
                <h4>{% translate 'Testprep History' %}</h4>
                {% for testprep_result in testprep_results %}
                    <div class="learn-wrapper">
                        <div class="chapter-course">
                            <ul class="chapter-sections">
                                <li class="single-chapter-section">
                                    <div class="section-header">
                                        <div class="section-left d-flex bd-highlight align-items-center">
                                            <div class="p-2 flex-grow-1 bd-highlight">
                                                <div class="d-flex flex-row">
                                                    <span class="flex-fill">#{{ forloop.revcounter }}</span>
                                                    <span class="flex-fill">{{ testprep_result.created_at|date }} {{ testprep_result.created_at|time:"H:i" }}</span>
                                                    <span class="flex-fill">{{ testprep_result.status|title }}</span>
                                                </div>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div class="d-flex flex-row">
                                                <a href="{% url 'dashboards:testprep:testprep-result-detail' testprep_result.pk %}"
                                                   class="btn btn-outline-primary me-2">{% translate "View" %}</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

