{% extends "layout/default.html" %}
{% load static i18n dashboard %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h1>{{ object.testprep.title }}</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="d-flex flex-column">
                <div class="learn-wrapper text-center">
                    <div class="title-course d-flex justify-content-center">
                        <div class="box-link-c w-50">
                            <div class="summary-item">
                                <div class="content">
                                    <div class="desc d-flex flex-row align-items-center">
                                        <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                             height="25" class="me-1">
                                        {% translate 'Part' %}
                                    </div>
                                </div>
                                <div class="number">
                                    {{ object.get_order }}/{{ object.testprep.get_parts.count }}
                                </div>
                            </div>
                            <div class="summary-item">
                                <div class="content">
                                    <div class="desc d-flex flex-row align-items-center">
                                        <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                             height="25" class="me-1">
                                        {% translate 'Subject' %}
                                    </div>
                                </div>
                                <div class="number">
                                    {{ object.subject.title|title }}
                                </div>
                            </div>
                            <div class="summary-item">
                                <div class="content">
                                    <div class="desc d-flex flex-row align-items-center">
                                        <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                             height="25" class="me-1">
                                        {% translate 'Questions' %}
                                    </div>
                                </div>
                                <div class="number">
                                    {{ object.get_questions.count }}
                                </div>
                            </div>
                            <div class="summary-item">
                                <div class="content">
                                    <div class="desc d-flex flex-row align-items-center">
                                        <img src="/static/dashboard/assets/images/icon-courses/1.svg" width="25"
                                             height="25" class="me-1">
                                        {% translate 'Duration' %}
                                    </div>
                                </div>
                                <div class="number">
                                    <time>{{ object.time|duration }}</time>
                                </div>
                            </div>
                            <div class="summary-item d-flex justify-content-center align-items-center pt-4">
                                <form action="{% url 'dashboards:testprep-part-detail' object.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn--link _yellow" value="{% translate "Continue Exam" %}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

