{% extends 'layouts/default.html' %} {% load static %} 
{% block content %}
<!--====== Start Hero Section ======-->
<section
	class="hero-banner-v1 position-relative section-color"
	id="color-section-banner"
>
	<div id="tsparticles-banner"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-7 col-12 align-self-center">
				<div class="hero-content">{{fields.26.content}}</div>
			</div>
			<div class="col-md-5 col-12">
				<div class="banner-img about-1 wow fadeInRight">
					<img src="{{fields.26.file}}" alt="{{fields.26}}" />
				</div>
			</div>
		</div>
	</div>
	<div class="container ab-banner-2">
		<div class="row">
			<div class="col-md-7 col-12 align-self-center order-0 order-md-1">
				<div class="hero-content">
					<!-- <h3 class="wow fadeInUp" data-wow-delay=".5s">who we are</h3> -->
					{{fields.27.content}}
				</div>
			</div>
			<div class="col-md-5 col-12 order-1 order-md-0 align-self-center">
				<div class="banner-img about-2 wow fadeInRight">
					<img src="{{fields.27.file}}" alt="{{fields.27}}" />
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== End Hero Section ======-->

<section class="section-about-2 section-color" id="color-section-about-2">
	<div class="container success-container">
		<div class="row">
			<div class="col-12">
				<div class="text-wrapper">
					<div class="section-title section-title-yellow">
						{{fields.28.content}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			{% for field in fields.28.children %}
			<div class="col-md-4 d-flex">
				<div class="box-card wow fadeInUp" data-wow-delay=".5s">
					<h3>{{field.title}}</h3>
					{{field.content}}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="container what-we-do-container">
		<div class="row">
			<div class="col-12">
				<div class="text-wrapper">
					<div class="section-title section-title-yellow">
						{{fields.32.content}}
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="we-do-content" data-aos>
					<div class="slide-bg"></div>
					<div class="dot-active"></div>
					<div class="content">
						{% for field in fields.32.children %}
						<div class="item-we-do">
							<div class="dot"></div>
							{{field.content}}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="section-certificate section-color" id="color-section-about-certi">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-wrapper">
                    <div class="section-title text-center section-title-yellow">
                        <h2 class="wow fadeInUp" data-wow-delay=".5s">Course Certificate</h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-delay=".5s">
                <div class="swiper swiper-container swiper-certi">
                    <div class="swiper-wrapper">
                       
                        <div class="swiper-slide">
                            <div class="certi-box">
                                <div class="img">
                                    <img s{{get_static_prefix}}ssets/images/about/c-1.svg" alt="">
                                </div>
                                <div class="content">
                                    <p>Microsoft Certified</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="section-team section-color" id="color-section-about-team">
	<!-- <div id="tsparticles" class="bg-particle"></div> -->

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12 align-self-center">
                <div class="hero-content">
                    <h2 class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">{{fields.54.title}}</h2>
                </div>
            </div>
		</div>
        <div class="row mt-5">
			{% for field in fields.54.children %}
				<div class="col-md-4 col-12">
					<div class="team-item wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
						<div class="img">
							<img src="{{field.file}}" alt="">
						</div>
						<div class="content">
							<h3>{{field.title}}</h3>
							<p>{{field.content}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
        </div>
	</div>
</section>

<section class="section-team section-color">
	<div class="intro-area intro-area-v1 section-color">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="play-content bg_cover text-center wow fadeInUp">
						<div class="bg">
							<img src="{%get_static_prefix%}assets/video/video-thumb.jpg" alt="">
						</div>
						<div class="play-button">
							<h2>how it work?</h2>
							<a href="{%get_static_prefix%}assets/video/3.mp4" class="video-popup"><i class="fas fa-play"></i></a>
						</div>
						
					</div>
				</div>
				<!-- <div class="col-12 text-center mt-5 wow fadeInUp">
					<a href="#" class="btn--link">join us now</a>
				</div> -->
			</div>
		</div>
	</div>
</section>

<section class="section-end-about section-color" id="color-section-white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title text-center wow fadeInLeft">
					<!-- <span class="sub-title st-one">Testimonials</span> -->
					{{fields.38.content}}
				</div>
			</div>
			<div class="col-12">
				<div class="banner-img about-3 wow fadeInRight">
					<img src="{{fields.38.file}}" alt="{{fields.38}}" />
				</div>
			</div>
		</div>
	</div>
</section>

<!--====== Start CTA Section ======-->
<section
	class="cta-section wow fadeInDown section-color"
	id="color-section-white"
>
	<div class="container">
		<div class="cta-wrapper">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="text-wrapper">
						<div class="section-title text-center">{{fields.39.content}}</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="button-box wow fadeInLeft">
						<a href="#{{fields.39.slug}}" class="btn-cos with-hand">
							{{fields.40.content}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== End CTA Section ======-->

{% endblock %}
