{% extends 'layouts/default.html' %}

{% load static  %}

{% block content %}
<section class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <ul class="breadcrumbs-link">
                        <li><a href="{% url 'frontend:home' %}">Home</a></li>
                        <li class="active">{{object}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section section-page">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="section-title mb-50">
                    <h3>Join the Cosqool Team as a Tutorial Author</h3>
                </div>
            </div>
            <div class="col-12 col-lg-10 col-xl-8">
                
            </div>
        </div>
    </div>
    
</section>
{% endblock %}
