{% extends 'layouts/default.html' %}
{% load frontend_extras %}
{% load i18n static %}

{% block content %}
<!--====== Start Hero Section ======-->
<section class="hero-banner-v1 position-relative section-color" id="color-section-banner">
    <div id="tsparticles-banner"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 align-self-center">
          <div class="hero-content home-text">
            {{fields.1.content}} 
          </div>
        </div>
        <div class="col-md-5 col-12">
          <div class="banner-img wow fadeInRight">
            <img loading="lazy" src="{{fields.4.file}}" alt="{{fields.4.title}}">
          </div>
        </div>
      </div>
    </div>
    <div class="intro-area intro-area-v1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="play-content bg_cover text-center wow fadeInUp">
              <div class="bg">
                <img loading="lazy" src="{{fields.5.file}}" alt="{{fields.5.title}}">
              </div>
              <div class="play-button">
                <h2>{{fields.6.content}}</h2>
                <a href="{{fields.7.file}}" class="video-popup">
                  <i class="fas fa-play"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 text-center mt-5 wow fadeInUp">
            <a href="#{{fields.8.slug}}" class="btn--link">{{fields.8.content}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--====== End Hero Section ======-->
  <div class="section-color" id="color-section-white">
  
  <section class="section-course" id="section-course">
    {%get_course_list%}
  </section>
  
    
    <section class="faq-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="section-title mb-30 wow fadeInLeft">
              <h2>{{fields.14.content}}</h2>
            </div>
            <div class="accordion wow fadeInLeft" id="faq">
              {% for faq in faqs %}
              <div class="card">
                <div class="card-header" id="heading-{{faq.slug}}">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{faq.slug}}" aria-expanded="true" aria-controls="collapse-{{faq.slug}}">{{faq.title}}</button>
                  </h2>
                </div>
                <div id="collapse-{{faq.slug}}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{faq.slug}}" data-parent="#faq">
                  <div class="card-body">{{faq.description}} <a class="btn btn-link" href="{% url 'frontend:faq-detail' faq.slug %}">{% trans "View more" %}</a></div>
                </div>
              </div>
              {% endfor %}
            </div>
            <a href="#{{fields.15.slug}}" class="btn-cos mt-3">{{fields.15.content}}</a>
          </div>
          <div class="col-lg-4 align-self-center mt-50 mb-50">
            <div class="section-title title-large text-center mb-30 wow fadeInLeft">
              {{fields.16.content}}
            </div>
            <div class="img-faq wow fadeInLeft">
              <img loading="lazy" src="{{fields.17.file}}" alt="{{fields.17.title}}">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-title mb-30 wow fadeInLeft">
              {{fields.18.content}}
            </div>
            <div class="box-news">
              {% for article in articles %}
              <div class="news-item wow fadeInLeft">
                <a href="{% url 'frontend:article-detail' article.slug %}" class="title"> {{article.title}}</a>
                <div class="date">
                  <i class="fal fa-calendar"></i>{{article.created_at|date:"F d, Y"}}
                </div>
              </div>
              {% endfor %}
              
              <a href="{{fields.19.slug}}" class="btn-cos mt-3">{{fields.19.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--====== Start Testimonial Section ======-->
  <section class="testimonial-area testimonial-area-v1 dark-blue-bg pt-130 pb-80 section-color" id="color-section-yellow">
    <div id="tsparticles"></div>
    <!-- <div class="shape-img wow fadeInRight"><span><img loading="lazy" src="{% static '' %}assets/images/new/testimonial/1.svg" alt=""></span></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-title mb-50 wow fadeInLeft">
            <!-- <span class="sub-title st-one">Testimonials</span> -->
            {{fields.20.content}}
            <p></p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="img-holder mb-50 wow fadeInLeft img-testimonial">
            <img loading="lazy" src="{{fields.20.file}}" alt="{{fields.20.title}}">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="testimonial-slider-one mb-50 wow fadeInRight">
            {% for field in fields.20.children %}
            <div class="testimonial-item">
              <div class="testimonial-content">
                <i class="flaticon-quotation"></i>
                <h3>{{field}}</h3>
                <div class="author-title">
                  {{field.content}}
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
          <!-- <div class="img-av-b"><img loading="lazy" src="{% static '' %}assets/images/new/testimonial/2.svg" alt=""></div> -->
        </div>
      </div>
    </div>
  </section>
  <!--====== End Testimonial Section ======-->
  <!--====== Start CTA Section ======-->
  <section class="cta-section wow fadeInDown section-color" id="color-section-white">
    <div class="container">
      <div class="cta-wrapper">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="text-wrapper">
              <div class="section-title text-center">
                <h2>{{fields.24.content}}</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="button-box wow fadeInLeft">
              <a href="{{fields.25.slug}}" class="btn-cos with-hand">{{fields.25}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====== End CTA Section ======-->
{% endblock %}

{% block additional_js %}

{% endblock %}