{% extends "layout/default.html" %}

{% load static i18n %}
{% load frontend_extras %}
{% block content %}
<div class="body d-flex align-items-start">
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>{{object.title|title}}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row g-3 py-20 gx-30">
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                {{ form }}
                <input type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}


