{% extends "registration/base.html" %}

{% load static i18n %}
{% load frontend_extras widget_tweaks %}
{% block form %}
<form class="row g-1 p-0 p-4">
    {% csrf_token %}
    <div class="col-12 text-center mb-5">
        <img src="{% static '' %}dashboard/assets/images/forgot-password.svg.html" class="w240 mb-4" alt="" />
        <h1>Forgot password?</h1>
        <span>Enter the email address you used when you joined and we'll send you instructions to reset your password.</span>
    </div>
    <div class="col-12">
        <div class="mb-2">
            {{ form.email.errors }}
            <label class="form-label" for="id_email">{% translate 'Email address:' %}</label>
            {{ form.email|attr:"class:form-control form-control-lg"|attr:"placeholder:name@example.com" }}
        </div>
    </div>
    <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-lg btn-block btn-light lift text-uppercase">{% translate 'Reset my password' %}</button>
    </div>
    <div class="col-12 text-center mt-4">
        <span class="text-muted"><a href="{% url 'accounts:login' %}" class="text-secondary">Back to Sign in</a></span>
    </div>
</form>
{% endblock %}